@model StudentManagementSystem.Models.StudentRegistration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "StudentRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <div class="panel panel-primary" style="margin-top:25px">
        <div class="panel-heading"><h4>Student Registration</h4></div>
        <div class="panel-body">
            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-md-8">
                      
                        <div class="row, form-group">
                            @Html.LabelFor(model => model.Reg_No, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Reg_No)
                                @Html.ValidationMessageFor(model => model.Reg_No)
                            </div>
                            @Html.LabelFor(model => model.Stu_Id, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Stu_Id)
                                @Html.ValidationMessageFor(model => model.Stu_Id)
                            </div>
                        </div>
                        <div class="row, form-group">
                            @Html.LabelFor(model => model.Stu_Name, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Stu_Name)
                                @Html.ValidationMessageFor(model => model.Stu_Name)
                            </div>
                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.PhoneNumber)
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="row, form-group">
                            @Html.LabelFor(model => model.FatherName, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.FatherName)
                                @Html.ValidationMessageFor(model => model.FatherName)
                            </div>
                            @Html.LabelFor(model => model.MotherName, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.MotherName)
                                @Html.ValidationMessageFor(model => model.MotherName)
                            </div>
                        </div>
                        <div class="row, form-group">
                            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.EmailAddress)
                                @Html.ValidationMessageFor(model => model.EmailAddress)
                            </div>
                            @Html.LabelFor(model => model.Batch_No, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Batch_No, Model.BatchSelectList, "--Select Item--", new { style = "width: 178px; height: 26px" })
                                @*@Html.EditorFor(model => model.Batch_No)*@
                                @Html.ValidationMessageFor(model => model.Batch_No)
                            </div>
                        </div>
                        <div class="row, form-group">
                            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Department, Model.DepartmentList, "--Select Item--", new { style = "width: 178px; height: 26px" })
                                @*@Html.EditorFor(model => model.Department)*@
                                @Html.ValidationMessageFor(model => model.Department)
                            </div>
                            @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Session, Model.SessionSelectList, "--Select Item--", new { style = "width: 178px; height: 26px" })
                                @*@Html.EditorFor(model => model.Session)*@
                                @Html.ValidationMessageFor(model => model.Session)
                            </div>
                        </div>
                        <div class="row, form-group">
                            @Html.LabelFor(model => model.PresentAddress, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.PresentAddress)
                                @Html.ValidationMessageFor(model => model.PresentAddress)
                            </div>
                            @Html.LabelFor(model => model.PermanentAddress, new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.PermanentAddress)
                                @Html.ValidationMessageFor(model => model.PermanentAddress)
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-md-4">
                        @*@Html.Label("image ", new { @class = "control-label col-md-1" })*@
                        <img src="~/Images/blankimage.jpg" id="viewimage" class="img-responsive" width="150" height="200" style="margin-left: 120px; border: 1px solid black; background-color: black" />
                        <input type="file" id="file" name="file" onchange="uploadimag(this)" required style="margin-left: 120px; margin-top: 15px"/>
                        @*@Html.EditorFor(model => model.Stu_imagePath)*@
                        @Html.ValidationMessageFor(model => model.Stu_imagePath)
                      
                    </div>
                </div>


                <div>
                    @Html.HiddenFor(x => x.id)
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" style="width: 75px"/>
                    </div>
                </div> 

            </div>
        </div>
    </div>
    
    <div>
        @if (@ViewBag.Message != null)
            {
                <h2 style="color: green">@ViewBag.Message</h2>
            }
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "Search")
    </div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        $(Document).ready(function () {

        });

        function uploadimag(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#viewimage").attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
